$size:18rem;


body {
    background-color: #ebeaea;
}

.size{
    width: $size;
}

.list-group-item:hover {
    color: blue;
    cursor: pointer;
}

.new {
    color: brown;
    font-size: 18px;
}

.title:hover{
    color: blue;
    cursor: pointer;
}
.discuss:hover{
    background-color:#f8f9fa;
}