.list-group {
    margin-top: 1rem;

    .list-group-item {
        font-size: 15px;
        // margin-top: 1rem;
        border: none;

        &:hover {
            text-decoration: underline;
            color: blue;
            background-color: rgba(196, 196, 246, 0.609);
        }
    }

    /*off canvas navbar*/
    .emoticons {
        height: 20px;
        margin-bottom: .5rem;
        margin-right: .5rem;
    }
}

.btn-card {
    color: purple
}

svg{
    fill: gray;
}

.card-aside{
    margin-top: 100px;

    
}    
.card-left-aside-text{
    text-decoration: none;
    font-size: 15px;}